/* Estilos das funções  */

/* Função para deixar em paralelo os elementos */
.pessoal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    
}

/* Header */
header {
    /* Chamando a função de paralelos */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Coloração */
    background-color: #ee9026;
    color: #fff;
    padding: 10px 0;
    text-align: center;

    /* Tamanho */
    height: 150px;

    /* Fonte */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

/* Classe search */
#barra_pesquisa {
    margin-top: 70px ;
    margin-left: 10px;
    border-radius: 10px;
    text-align: left;
    vertical-align: auto;
    border-color: transparent;
    text-align: center;
}
/* <img src="/media/shopping_cart.png" alt="Carrinho de compras" width="40px" height="40px"></span> */

/* Botao de pesquisa do header */
#botao_pesquisa_header {
    background-color: #ee912673; 
    border-color: none; 
    border: 0;
    text-align: right;
    vertical-align: auto;
}

/* Cor do botao de pesquisa */
.fa-search {
    color: white;
}

/* Animação do botao de pesquisa */
#botao_pesquisa_header:active {
    background-color: #945f23;
}

/* Carrinho */
#carrinho_icon {
    background-color: #ee912673; 
    border-color: none; 
    border: 0;
    text-align: right;
    vertical-align:bottom;
    font-size: 30px;
}
.fa-shopping-cart {
    color: white;    
}

#carrinho_icon:active {
    background-color: #945f23;
}

/* Icon de login */
.fa-sign-in {
    color: white;
}
/* Classe de espaço entre os icones */
.espaco {
    margin-left: 30px;
}

/* Daqui pra baixo é o body e foi meio copia cola */
body {
    font-family: 'Times New Roman', Times, serif; 
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */

} 

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 15x;
    height: 300px;
    width: 350px;
    text-align: center;
    background-color: #f8f8f8;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Footer */
footer {
    /* Posição */
    position: fixed;
    bottom: 0;

    /* Chamando a função de paralelos */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    /* Coloração */
    background-color: #ee9026;
    color: #fff;
    text-align: center;

    /* Tamanho */
    height: 50px;
    width: 100%;

    /* Fonte */
    font-family: 'Times New Roman', Times, serif;

}

/* Difinição dos icones do footer */
.icones_footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-corpo{
    /* margin: auto;

    margin-left: 50%;
    margin-right: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee9026;
    height: 100vh;
}

img {
    display: block;
    margin: auto;
    width: 70%;
}