@import url(style-colors.css);
/* Estilos das funções  */


/* Aplicavel para tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


/* Fazendo a lista ul aparecer em blocos na mesma linha */
nav ul {
    display: inline-block;
    /* Tira os bullet points */
    list-style: none; 
}

/* Fazendo a lista li aparecer em blocos na mesma linha */
nav ul li {
    display: inline-block;
    margin-left: 20px;
}


nav ul li a:hover {
    font-size: x-large;
    transition: 0.3s;
    line-height: 20px;
}

/* Tirar o destaque de hiperlink */
a {
    text-decoration: none;
    color: #fff;
}


/* Header */
header {
    /* Chamando a função de paralelos */
    justify-content: space-between;

    /* Distancia dos lados */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* Coloração */
    background-color: var(--SecundaryColor);
    color: var(--notWhite);
    
    text-align: center;

    /* Tamanho */
    max-height: 150px;

    /* Fonte */

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}


.lower_header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}

/* Classe search */
#barra_pesquisa {

    border-radius: 10px;
    text-align: left;
    vertical-align: auto;
    border-color: transparent;
    text-align: center;
}


/* Botao de pesquisa do header */
#botao_pesquisa_header {
    background-color: var(--SecundaryColor); 
    border-color: none; 
    border: 0;
    text-align: right;
    vertical-align: auto;
}

/* Cor do botao de pesquisa */
.fa-search {
    color: var(--notWhite);
}

/* Animação do botao de pesquisa */
#botao_pesquisa_header:active {
    background-color: var(--SecundaryColor);
}

/* Carrinho */
#carrinho_icon {
    background-color: var(--SecundaryColor); 
    border-color: none; 
    border: 0;
    text-align: right;
    vertical-align:bottom;
    font-size: 30px;
}
.fa-shopping-cart {
    color: var(--notWhite);    
}

#carrinho_icon:active {
    background-color: var(--SecundaryColor);
}

#sign_in_icon {
    background-color: var(--SecundaryColor); 
    border-color: none; 
    border: 0;
    text-align: right;
    vertical-align:bottom;
    font-size: 30px;
}

#sign_in_icon:active {
    background-color: var(--SecundaryColor);
}

/* Icon de login */
.fa-sign-in {
    color: var(--notWhite);
}

.col-1 {
    padding-left: 10px;
}

.col-2 {
    padding-right: 10px;
    
}

.right_section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ----------------------------------------------------------------------------------------------------------- */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--notWhite);
    margin-bottom: 10%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: var(--PrimaryColor);
    border: 1px solid var(--PrimaryColor);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.2s;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .details {
    padding: 15px;
}

.product-card .details h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: var(--textColor);
}

.product-card .details p {
    margin: 0;
    color: #888;
}

.product-card .details .price {
    font-size: 20px;
    color: var(--textColor);
    margin-top: 10px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purchase_options {
    margin-top: 20px;
    border: 3px solid var(--PrimaryColor);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 30px;
    margin-right: 30px ;
    
}

.purchase_options h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.purchase_options .quantity,
.purchase_options .installments {
    margin-bottom: 10px;
}

.purchase_options label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.purchase_options input,
.purchase_options select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--notWhite);
    border-radius: 4px;
}

#buy-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #28a745;
    color: var(--notWhite);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* z-index garante que toda a sua área seja cliclavel mesmo que sob outros elementos */
    z-index: 10;
    position: relative;
}

#buy-button:hover {
    background-color: #218838;
}

#buy-button:active {
    background-color: #3eb157;
}


.cart {
    display: inline-block;
    /* float: right; */
    padding: 10px;
}

.cart a {
    text-decoration: none;
    color: #ffffff;
}

.cart a:hover {
    text-decoration: underline;
}

.loginSection a:hover {
    text-decoration: underline;
}

.back {
    display: inline-block;
    padding: 10px;
}

.back a {
    text-decoration: none;
    color: #ffffff;
}

.back a:hover {
    text-decoration: underline;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.cart-item img {
    width: 150px;
    height: auto;
}

.cart-item .details {
    flex: 1;
}

.cart-item .details h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.cart-item .details p {
    margin: 5px 0;
}

.cart-total {
    margin-top: 20px;
}

#checkout-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-button:hover {
    background-color: #0056b3;
}


/* -------------------------------------------------------------------------------------------------------------- */

.login-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee9026;
    height: 100vh;
}


h2{
    text-align: center;
}

.login-container{
    padding: 5%;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.login-form{
    justify-content: space-around;
}

.login-input{
    margin-bottom: 10px;
}



.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    flex-direction: column;
    row-gap: 10px;
}

.main-container-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
    /* padding: 6.25%; */
    max-width: 900px;
    
}

.login-containter{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 900px;
    /* min-width: calc(100vh - 300px); */
}

.main-container {
    margin: 1.5em 0 0;
    padding: 0 3.125%;
    min-height: calc(100vh - 200px);
}

.max-width {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
}














/* -------------------------------------------------------------------------------------------------------------- */
/* Page template */
.product_page_template{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.product_controller_header {
    display: inline-block;
}


/* Imagem card */
#product_details_buy_template {
    float: left;
    display: block;
    width: 85%;
    position: absolute;
    padding-left: 10%;
}

/* Setor da compra */
#buy_options_template {
    display: block;
    float: right;
}
