@import url(style-colors.css);
head{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    font-family: "Lato",sans-serif;
    background-color: var(--notWhite);
}

.login-form{
    border: 1pt solid var(--PrimaryColor);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
}

.sigin-form{
    border: 2px solid var(--PrimaryColor);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 6px;
}

.main-login-screen{
    display: grid;
    padding: 5% 10%;
}

h1{
    text-align: center;
    font-size: 38px;
} 

h2{
    text-align: center;
}

.form-label{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    color: var(--textColor);
}

.form-input{
    margin-top: 3px;
    margin-bottom: 9px;
    padding: 12px;
    border-radius: 6px;
    border: solid 1px var(--SecundaryColor);
    background-color: var(--notWhite);
}

.required{
    color: red;
    font-size: 18px;
}

.form-button{
    font-weight: 700;
    font-size: 18px;
    background: var(--textColor);
    color: var(--notWhite);
    text-transform: uppercase;
    padding: .618em 1em;
    border-radius: 3px;
    cursor: pointer;
}

.form-button:hover{
    background-color: var(--PrimaryColor);
}

.form-submit-div{
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.lost-password-button{
    width: fit-content;
    background:none; 
    border:none;
    cursor: pointer;
}

.cart {
    display: inline-block;
    /* float: right; */
    padding: 10px;
}

.cart a {
    text-decoration: none;
    color: #ffffff;
}

.cart a:hover {
    text-decoration: underline;
}

.loginSection a:hover {
    text-decoration: underline;
}

.back {
    display: inline-block;
    padding: 10px;
}

.back a {
    text-decoration: none;
    color: #ffffff;
}

.back a:hover {
    text-decoration: underline;
}

header {
    /* Chamando a função de paralelos */
    justify-content: space-between;

    /* Distancia dos lados */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* Coloração */
    background-color: var(--SecundaryColor);
    color: var(--notWhite);
    
    text-align: center;

    /* Tamanho */
    max-height: 150px;

    /* Fonte */

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.fa{
    margin-right: 4pt;
    color: var(--notWhite);
}
