<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<header>
    <section class="cart">
        <a href="cart.html">Carrinho (<span id="cart-count">0</span>)</a>
    </section>
    <!-- Botão de voltar  -->
    <section class="back">
        <a href="../root/index.html">Voltar</a>
    </section>
</header>

<body>
    <div class="container">
        <h1>Carrinho de Compras</h1>
        <div id="cart-items" class="cart-items">
            <!-- Os itens do carrinho serão inseridos aqui pelo JavaScript -->
        </div>
        <div class="cart-total">
            <h2>Total: $<span id="cart-total">0.00</span></h2>
        </div>
        <button id="checkout-button">Finalizar Compra</button>
    </div>
    <script src="../js/cart.js"></script>

    <!-- Rodapé do site -->
    <footer id="general_footer"> </footer>
    <script src="/js/footer.js"></script>
</body>

</html>