<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/product.js"></script>
</head>

<header>
    <section class="product_controller_header">
        <!-- Contador de produtos -->
        <div class="cart">
            <a href="../templates/cart.html" style="color: white;">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <p>Carrinho (<span id="cart-count">0</span>)</p>
            </a>
        </div>
        <!-- Botão de voltar  -->
        <div class="back">
            <a href="../src/index.html">Voltar</a>
        </div>
    </section>
</header>

<body>
    <section class="product_page_template">
        <aside id="product_details_buy_template">
            <section id="product-details" class="product-details">
                <!-- Os detalhes do produto serão inseridos aqui pelo JavaScript -->
            </section>
        </aside>
        <aside id="buy_options_template">
            <section class="purchase_options">
                <h2>Compra</h2>
                <div class="quantity">
                    <label for="quantity">Quantidade:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1">
                </div>
                <div class="installments">
                    <label for="installments">Parcelamento:</label>
                    <select id="installments" name="installments">
                        <option value="1">1x sem juros</option>
                        <option value="2">2x sem juros</option>
                        <option value="3">3x sem juros</option>
                        <option value="4">4x sem juros</option>
                        <option value="5">5x sem juros</option>
                        <option value="6">6x sem juros</option>
                    </select>
                </div>
                <button id="buy-button">Adicionar ao Carrinho</button>
            </section>
        </aside>
    </section>

    </section>

</body>

<!-- Rodapé do site -->
<footer>
    <section class="name_footer">
        <p>Everlasting Vinyl</p>
    </section>
    <section class="icones_footer">
        <a href="#"><img id="icones_footer_logo"src="/assets/img/facebook.png" alt="Facebook"></a>
        <a href="#"><img id="icones_footer_logo" src="/assets/img/instagram.png" alt="Instagram"></a>
        <a href="#"><img id="icones_footer_logo" src="/assets/img/linkedin.png" alt="Linkedin"></a>
    </section>
</footer>
</html>


</html>
